@import "tailwindcss";

@theme {
  --color-primary: #ff595e;
  --color-secondary: #1982c4;
  --color-thirdary: #6a4c93;
  --color-background: #f6f6f6;
  --color-border: #d1d1d1;
  --color-hoverfx: #ffd166;
  --color-text: #2e2e2e;
}
html {
  height: 100vh;
  width: 100vw;
  background-color: #287bf1;
  background-image: url("../../public/img/clouds.png");
  background-repeat: repeat;
}
.bg-op-50 {
  background-color: rgba(65, 65, 65, 0.301) !important;
}
.bg-op-70 {
  background-color: rgba(0, 0, 0, 0.685) !important;
}

/* Override pixel-retroui heading styles */
h1 {
  font-size: 2.3rem;
  font-weight: normal;
}
h2 {
  font-size: 1.5rem;
  font-weight: normal;
}
h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 25px;
}
h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
h5 {
  font-size: 1.1rem;
  margin: 25px 0 15px;
}
.mt-custom-28 {
  margin-top: 7rem;
}
.borderBottom {
  border-bottom: solid 2px var(--color-border);
}
